@{
    ViewBag.Title = "About Me.";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>My name is Josie Ehrman and I was born on October 19, 1999 in Cincinnati, Ohio. When I was growing up, I didn't like being from a boring midwestern city like Cincinnati, but I've really grown to cherish it as I've gotten older. I am a huge Cincinnati Bengals fan, and love spending my free time watching football games with my family. After I graduate from Ohio University in the spring of 2022, I plan on moving back to Cincinnati to start my career as a MIS and Analytics-trained professional. I don't know if I will live in Cincinnati forever as I do really love to travel and experience new surroundings, but I am happy that I will always be able to call Cincy my hometown.</p>
