@{
    ViewBag.Title = "Contact Me.";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    <strong>Phone:</strong> 513.335.1595 <br />
</address>

<address>
    <strong>Personal E-Mail:</strong>   <a href="mailto:josieehrman@gmail.com">josieehrman@gmail.com</a><br />
    <strong>OU E-Mail:</strong> <a href="mailto:je567718@ohio.edu">je567718@ohio.edu</a>
</address>

<address>
    <strong>Socials:</strong><br />   
    <a href="https://www.linkedin.com/in/josieehrman/">LinkedIn</a><br />
    <a href="https://ohio.joinhandshake.com/stu/users/13208891">Handshake</a>
</address>