@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Josie Ehrman's Personal Webpage</h1>
    <p class="lead">Get to know me by navigating through the webpages.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Early Life</h2>
        <p>
            I grew up in the suburbs on the west side of Cincinnati. I attended <a href="https://www.nwlsd.org/colerainhighschool_home.aspx">Colerain High School</a>, where I graduated in 2017. In high school, I really enjoyed extracurriculars like marching band and drama club.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Education</h2>
        <p>After graduating high school, I spent my first year of college at <a href="https://www.cincinnatistate.edu/">Cincinnati State Technical and Community College</a> to decide where I wanted to finish my bachelor's degree. I eventually chose <a href="https://www.ohio.edu/">Ohio University</a> and will be graduating with my bachelor's in MIS and Business Analytics in April 2022.</p>
    </div>
    <div class="col-md-4">
        <h2>Experience</h2>
        <p>Although I have not had much professional experience in my field so far, I have been able to gain experience through OU with programs such as the Integrated Business Cluster and OHIO International Consulting Program.</p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Links to Objects</h2>
        <p><a href="https://cob.ohio.edu/je567718/Pets">Pets</a><br />
           <a href="https://cob.ohio.edu/je567718/Vets">Vets</a><br />
           <a href="https://cob.ohio.edu/je567718/Visits">Visits</a>
        </p>
    </div>
</div>
